body {
  /* background-color: rgb(35, 33, 33); */
  overflow-x: hidden;
}

/* body::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg {
  animation: slide14 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(8, 9, 56) 50%, black 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: sans-serif;
}
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide14 {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.rotate123 {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
@import url("https://fonts.googleapis.com/css?family=Karla|Space+Mono");

:root {
  --sectionWidth: 1200px;
}

* {
  outline: 0;
  box-sizing: border-box;
}

#section1 {
  max-width: var(--sectionWidth);
  margin: 0px auto;

  width: 97%;
  color: #fff;
}

#test {
  background-image: url("img/v748-toon-121_1_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

summary {
  display: block;
  cursor: pointer;
  padding: 5px;

  font-size: 17px;
  transition: 0.3s;
  border-bottom: 1px solid;
  user-select: none;
}

details > div {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;

  user-select: none;
  padding: 0 10px;
  font-family: sans-serif;
  line-height: 1.5;
}

details > div > p {
  flex: 1;
}

details[open] > summary {
  color: skyblue;
}

@media (min-width: 768px) {
  details[open] > div > p {
    opacity: 0;
    animation-name: showContent;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    margin: 0;
    padding-left: 20px;
  }

  details[open] > div {
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}

@keyframes showImage {
  from {
    opacity: 0;
    clip-path: inset(50% 0 50% 0);
    transform: scale(0.4);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion .card {
  border: none;
  margin-bottom: 20px;
}
.accordion .card h2 {
  background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png)
    no-repeat calc(100% - 10px) center;
  background-size: 20px;
  cursor: pointer;
  font-size: 18px;
}
.accordion .card h2.collapsed {
  background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
}
.accordion .card-body {
  padding-left: 0;
  padding-right: 0;
}

h2 {
  text-align: center;
}
#header {
  background-image: url("img/final.jpg");

  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
}

.card3 {
  background-color: rgb(11, 11, 29);
}

#cont {
  background-color: black;
}

.modal-header {
  min-height: 45vh;
}

#whyca {
  background-color: rgb(14, 14, 34);
}

.team-area {
  padding: 60px 0;
  background: black;
}

.section-heading {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 65px;

  letter-spacing: 5px;
}

.img-area {
  width: 180px;
  height: 180px;
  display: inline-block;
  overflow: hidden;
}
.team-single:hover .side-two {
  transform: rotateY(0deg);
  border-radius: 5px;
}

.team-single:hover .side-one {
  transform: rotateY(180deg);
}
.content-area {
  transform: perspective(1000px);
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.side-one {
  position: relative;
  transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.side-two {
  position: relative;
  transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.side-two {
  position: absolute;
  top: 0;
  left: 0;
  background: #565656;
  transform: rotateY(-180deg);
}
.side-one,
.side-two {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 1s;
}
.side-one .card,
.side-two .card {
  min-height: 300px;
}

@import url(http://fonts.googleapis.com/css?family=Oswald);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-attachment: fixed;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: 103%;
  /* border-bottom: 1px solid rgb(10, 10, 98); */

  line-height: 1;
  background: black;
  /* box-shadow: 1px 1px 0 rgb(10, 10, 98), 2px 2px 0 rgb(10, 10, 98),
    3px 3px 3px rgb(10, 10, 98); */
}
#cssmenu > ul {
  background: url("images/bg.png");
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 20px 10px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-dark {
  border-bottom: 2px solid rgba(43, 17, 243, 0.946);
}

#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: rgb(37, 105, 250);
}

#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: white;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 3px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 5px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  background: url("images/bg.png");
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: rgba(0, 0, 255, 0.816);
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-bottom: 1px solid rgb(10, 10, 98);
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: black;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: black;
}
#cssmenu.small-screen #menu-indicator {
  display: none;
}
.question {
  cursor: pointer;
  color: #f00;
}

#card1:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

#card1:nth-child(1):before {
  background: linear-gradient(315deg, #047de7, #9b8eff9a);
}

#container-fluid {
  margin: 0;
  padding-top: 3vh;
  min-height: 60vh;
  background: rgb(6, 6, 35);
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.container-fluid .card2 {
  position: relative;
}
.container-fluid .card2 .face {
  width: 250px;
  height: 200px;
  transition: 0.5s;
}
.container-fluid .card2 .face.face1 {
  position: relative;
  background: #061d2e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.container-fluid .card2:hover .face.face1 {
  transform: translateY(0px);
  background: #ff0057;
}
.container-fluid .card2 .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}
.container-fluid .card2:hover .face.face2 {
  transform: translateY(0px);
}
.container-fluid .card2 .face .face2 .content1 p {
  margin: 0;
  padding: 0;
}

.container-fluid .card2 .face.face1 .content1 {
  opacity: 0.7;
  transition: 0.5s;
  color: #fff;
}
.container-fluid .card2:hover .face.face1 .content1 {
  opacity: 1;
}
.container-fluid .card2 .face.face1 .content1 img {
  max-width: 100px;
}
.container .card2 .face.face1 .content1 h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.getintouch {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 30px 0px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 00 20px #000000b3;
}

.txt {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
  color: #ddd;
}

.txt input,
.txt textarea {
  width: 100%;
  font-size: 18px;
  margin-top: 1px;
  background: none;
  outline: none;
  border: none;
  color: #ddd;
}
.btn {
  display: inline-block;
  background: #141414;
  color: white;
  padding: 10px 0;
  margin-top: 10px;
  width: 30%;
  font-weight: 800;
  border: solid 2px white;
}
@media only screen and (max-width: 280px) {
  body,
  #test,
  #aboutus,
  #header {
    font-size: 1em;
  }
}
